{% extends "main.html" %} {% block content %}
<section
  class="mdx-hero mdx-hero--custom"
  style="
    background: url('assets/background.png') center/cover no-repeat;
    height: 90vw;
  "
>
  <div class="mdx-hero__content">
    <h1>{{ config.extra.hero.headline }}</h1>
    <p>{{ config.extra.hero.description }}</p>
    <div class="mdx-hero__actions">
      {% for action in config.extra.hero.actions %}
      <a
        href="{{ action.link }}"
        class="mdx-button mdx-button--{{ action.type }}"
      >
        {{ action.text }}
      </a>
      {% endfor %}
    </div>
  </div>
</section>

{{ page.content }} {% endblock %}
